grant {
permission java.utilPropertyPermission "java.security.policy", "write";
permission java.io.FilePermission "/tmp/*", "read,write";
permission java.utilPropertyPermission "os.name","";
};